# =========================
# Dart / Flutter
# =========================
**/.dart_tool/
**/.pub/
**/build/

# Dart Frog
**/.dart_frog/

# =========================
# Node / React
# =========================
**/node_modules/

# =========================
# Env variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets
# =========================
.env